<app-loader [loading]="isLoading"></app-loader>

<div class="w-7/12 h-fit p-5 m-10 border-white border-2 mx-auto rounded backdrop-blur-sm">

    <form [formGroup]="fg" class="flex flex-col gap-4 text-xl text-white p-7">
        <h1 class="text-3xl mx-auto p-4">
            Create Destination Location
        </h1>

        <div class="flex flex-col text-center w-1/2 mx-auto">
            <label for="name">Destination name</label>
            <input type="text" id="name" name="name" formControlName="name"
                class="text-black rounded-md p-3 placeholder:text-center" placeholder="Destination name"
                autocomplete="off">
        </div>
        <div *ngIf="fg.get('name')?.invalid && fg.get('name')?.dirty" class="text-red-500 mx-auto">
            <div *ngIf="fg.get('name')?.errors?.['required']">
                Destination name is required
            </div>
            <div *ngIf="fg.get('name')?.errors?.['minlength']">
                Destination name must be at least 3 characters long
            </div>
        </div>

        <div class="flex flex-col text-center">
            <label for="description">Description</label>
            <textarea id="description" name="description" formControlName="description"
                class="text-black rounded-md p-2 min-h-40 placeholder:text-center"
                placeholder="Destination description">
            </textarea>
        </div>
        <div *ngIf="fg.get('description')?.invalid && fg.get('description')?.dirty" class="text-red-500 mx-auto">
            <div *ngIf="fg.get('description')?.errors?.['required']">
                Destination description is required
            </div>
            <div *ngIf="fg.get('description')?.errors?.['minlength']">
                Description description must be at least 10 characters long
            </div>
        </div>

        <div class="flex justify-center items-center gap-4">
            <label for="photo">Photo</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" id="photo" name="photo">
            <div *ngIf="selectedImage" class="w-1/3">
                <img [src]="selectedImage" alt="" class="w-1/2 h-auto">
            </div>
        </div>
        <div *ngIf="fg.get('photo')?.errors?.['invalidImageSize']" class="text-red-500 mx-auto">
            {{ imagesErrorMessage }}
        </div>
        <div *ngIf="fg.get('photo')?.errors?.['invalidImageFormat']" class="text-red-500 mx-auto">
            {{ imagesErrorMessage }}
        </div>

        <div class="flex flex-col">
            <input type="text" name="locationInput" formControlName="locationInput" [disabled]="isLoading"
                class="text-black rounded-t-md p-3 placeholder:text-center"
                placeholder="Click on map or enter location if need find location faster" autocomplete="off">
            <div id="map" class="h-96"></div>
        </div>

        <p>{{ selectedLocation.location }}</p>

        <div class="mx-auto">
            <button (click)="onSubmit()"
                [disabled]="fg.invalid || !selectedLocation.location || selectedLocation.location === 'Unknown! Choose another location!'"
                type="submit" class="rounded-md bg-white text-black p-3 disabled:bg-gray-400">
                Create
            </button>
        </div>

        <div *ngIf="submitErrorMessage" class="text-red-500 text-2xl mx-auto">{{ submitErrorMessage }}</div>

    </form>

</div>