<h1 class="text-[#8eceff] text-center text-4xl pt-10 pb-2">About</h1>

<div (click)="home()"
    class="w-4/6 mx-auto bg-slate-200 text-2xl border-teal-50 border-2 p-10 rounded-lg indent-7 cursor-pointer">
    <h2>
        Welcome to <span class="font-extrabold text-">Destinations Spots</span> for sharing travel experiences! We're here to
        inspire you to discover new destinations
        and share
        your adventures with fellow travel enthusiasts. Bringing together the community of travelers, we aim to create
        an inspiring space for exploring the world. You're here for new adventures!
    </h2>
</div>

<div class="p-7">
    <img src="./assets/about-image.jpg" alt="" class="rounded-3xl w-1/2 mx-auto">
</div>