<app-loader [loading]="isLoading" />

<div class="flex justify-center">
<input (click)="toggleShowMyDestinations()" type="checkbox" name="" id="" class="w-6 h-6"> click
</div>

<div class="flex justify-center">
    <div class="flex flex-col gap-8 pl-16 p-3 text-white w-1/2">
        <ng-container *ngFor="let destination of allDestinations; let i = index">
            <div *ngIf="i % 2 === 0"
                class="flex flex-col text-center border-white border-2 rounded p-7 backdrop-blur-md">
      
                <p class="text-3xl pb-5">{{ destination.name }}</p>

                <div *ngIf="destination.photo; else noPhoto">
                    <img class="w-5/6 max-h-svh mx-auto" src="{{ destination.photo }}" alt="">
                </div>
                <ng-template #noPhoto>
                    <img class="w-5/6 max-h-svh mx-auto" src="./assets/no-image-available.jpg" alt="">
                </ng-template>

            </div>
        </ng-container>
    </div>

    <div class="flex flex-col gap-8 pr-16 p-3 text-white w-1/2">
        <ng-container *ngFor="let destination of allDestinations; let i = index">
            <div *ngIf="i % 2 !== 0"
                class="flex flex-col text-center border-white border-2 rounded p-7 backdrop-blur-md">

                <p class="text-3xl pb-5">{{ destination.name }}</p>
                <div *ngIf="destination.photo; else noPhoto">
                    <img class="w-5/6 max-h-svh mx-auto" src="{{ destination.photo }}" alt="">
                </div>
                <ng-template #noPhoto>
                    <img class="w-5/6 max-h-svh mx-auto" src="./assets/no-image-available.jpg" alt="">
                </ng-template>

            </div>
        </ng-container>
    </div>
</div>