<app-loader [loading]="isLoading" />

<div *ngIf="destination" class="w-2/3 max-lg:w-11/12 rounded-md mx-auto border-white border-2 p-10 m-5">
    <h1 class="text-3xl text-cyan-300 text-center pb-3 break-all">
        {{ destination.name }}
    </h1>

    <div class="flex justify-center text-4xl pb-2">

        <div *ngFor="let _ of rating; let i = index" (click)="updateRating(i + 1)">
            <i class="fa-solid fa-star text-yellow-500"></i>
        </div>
        <div *ngFor="let _ of remainingStars; let i = index" (click)="updateRating(i + rating.length + 1)">
            <i class="fa-regular fa-star text-yellow-500"></i>
        </div>

        <h2 class="text-white text-2xl flex justify-center items-center p-2">
            {{ averageRating | number: '1.1-1' }}/5 ({{ allRatingsCount }})
        </h2>

    </div>
    <small class="text-white flex justify-center pb-5 text-lg">Rate this destination by clicking on the stars</small>

    <div *ngIf="canEdit()" class="flex justify-center gap-3 pb-7">
        <button [routerLink]="['/edit-destination', destinationId]"
            class="text-2xl bg-amber-500 p-2 w-36 cursor-pointer rounded-xl">
            <i class="fa-solid fa-pen-to-square"></i> Edit
        </button>
        <button (click)="openDeleteDialog('1000ms', '200ms')"
            class="text-2xl bg-red-500 p-2 w-36 cursor-pointer rounded-xl">
            <i class="fa-solid fa-trash"></i> Delete
        </button>
    </div>

    <div class="flex justify-center pb-5 gap-4">
        <div class="text-2xl text-stone-200 text-center w-5/6 mx-auto pb-5">
            <h1 class="text-lg border-b-2 w-3/4 mx-auto pb-1">
                {{ destination.location }}
            </h1>

            <h2 class="pt-4 break-all">
                {{ destination.description }}
            </h2>
        </div>

        <div *ngIf="destination.photo; else noPhoto" class="w-1/3">
            <img (click)="openFullImage('500ms', '500ms')" class="max-h-[65svh] mx-auto rounded-sm cursor-pointer"
                src="{{ destination.photo }}" alt="">
            <h1 class="text-sm text-white text-center">click to see image bigger</h1>
        </div>
        <ng-template #noPhoto>
            <img class="w-1/5 h-1/5 mx-auto" src="./assets/no-image-available.jpg" alt="">
        </ng-template>
    </div>

    <div class="text-white flex flex-col">
        <p [routerLink]="['/profile', username]" class="cursor-pointer">Made by: <span class="text-green-400 text-xl">{{ username }}</span></p>
        <p>Last modified on: {{ destination.modified_at | date: 'EEEE dd/MM/yyyy' }}</p>
    </div>

    <div id="map" class="h-96 pb-4"></div>

    <div class="flex gap-5">
        <div class="flex flex-col justify-start w-2/3">
            <h2 class="text-2xl text-emerald-100 text-left pb-2">Comments</h2>
            <hr>
            <ul>
                <li *ngFor="let comment of displayedComments; let i = index" class="text-white text-xl">
                    <div class="flex gap-7">
                        <span class="py-1">{{ comments.length - (pageIndex * pageSize + i) }}.</span>
                        <h1 class="font-bold py-1">{{ comment.name }}</h1>
                    </div>
                    <div class="pb-3 break-all">{{ comment.comment }}</div>
                    <hr class="w-5/6 mx-auto pb-2">
                </li>
            </ul>
            <mat-paginator *ngIf="!isLoading && comments.length > 5" [length]="commentsCount" (page)="onPageChange($event)"
                [hidePageSize]="true" [pageSize]="pageSize" [showFirstLastButtons]="true">
            </mat-paginator>

            <h1 *ngIf="!comments.length" class="text-xl text-zinc-200 py-2">No comments yet.</h1>
        </div>

        <form class="flex flex-col gap-1 w-1/3" [formGroup]="addCommentForm" (ngSubmit)="addComment()">
            <input type="text" placeholder="Enter name" formControlName="name"
                class="p-2 rounded-md placeholder:py-2 placeholder:text-slate-900" (input)="charactersCount('name')"
                [maxlength]="20">
            <div class="relative text-white pb-6">
                <div *ngIf="addCommentForm.get('name')?.errors?.['required'] && addCommentForm.get('name')?.touched">
                    <small class="absolute left-0">Name is required</small>
                </div>
                <div class="absolute right-0">{{ nameCharsCount }}/20</div>
            </div>

            <textarea rows="10" placeholder="Add comment..." formControlName="comment"
                class="textw p-2 rounded-md placeholder:text-slate-900" (input)="charactersCount('comment')"
                [maxLength]="200">
            </textarea>
            <div class="relative text-white pb-6">
                <div
                    *ngIf="addCommentForm.get('comment')?.errors?.['required'] && addCommentForm.get('comment')?.touched">
                    <small class="absolute left-0">Comment is required</small>
                </div>
                <div class="absolute right-0">{{ commentCharsCount }}/200</div>
            </div>

            <button [disabled]="addCommentForm.invalid"
                class="w-2/3 p-1 rounded-md text-teal-900 bg-white hover:text-white hover:bg-teal-900 duration-200 disabled:bg-red-400 disabled:text-white disabled:pointer-events-none">
                Add comment
            </button>

            <div class="text-red-500">{{ submitErrorMessage }}</div>
        </form>
    </div>

</div>