<div class="bg-gray-700 text-slate-50">
    <nav class="flex flex-wrap justify-between max-lg:justify-center items-center gap-4 p-2 max-lg:pb-4 mx-2 text-xl">
        <ul class="text-center flex items-center gap-4">
            <li>
                <a routerLink=""><img src="./assets/home-nav.png" alt="" class="w-16"></a>
            </li>
            <li class="relative">
                <input [(ngModel)]="searchText" type="text" placeholder="Search"
                    class="max-w-52 text-gray-700 border-2 border-white rounded py-1 px-3 pr-10"
                    (keydown.enter)="searchResults()">
                <button (click)="searchResults()" type="button"
                    class="absolute inset-y-0 right-0 mr-2">
                    <i class="fa-solid fa-magnifying-glass text-gray-700"></i>
                </button>
            </li>
        </ul>

        <ul class="flex flex-wrap justify-center items-center gap-4">
            <li>
                <a routerLink="/about" routerLinkActive="active" class="border-2 border-white rounded p-2">
                    About
                </a>
            </li>
            <li>
                <a routerLink="/destinations" routerLinkActive="active" class="border-2 border-white rounded p-2">
                    All Destinations
                </a>
            </li>
            <li *ngIf="isLoggedIn()">
                <a routerLink="/create" routerLinkActive="active" class="border-2 border-white rounded p-2">
                    Create Destination
                </a>
            </li>
            <li *ngIf="isLoggedIn()">
                <a [routerLink]="['/profile', getCurrentUsername()]" routerLinkActive="active"
                    class="border-2 border-white rounded p-2">
                    Profile
                </a>
            </li>
            <li *ngIf="!isLoggedIn()">
                <a routerLink="/login" routerLinkActive="active" class="border-2 border-white rounded p-2">
                    Login
                </a>
            </li>
            <li *ngIf="!isLoggedIn()">
                <a routerLink="/register" routerLinkActive="active" class="border-2 border-white rounded p-2">
                    Register
                </a>
            </li>
            <li *ngIf="isLoggedIn()">
                <a (click)="logout()" class="text-3xl p-2 cursor-pointer">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>

<router-outlet />