<span *ngIf="deleteLoading">
    <div class="cont">
        <div class="paper"></div>
        <button>
            <div class='loader'>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>Deleting
        </button>
        <div class="g-cont">
            <div class="garbage"></div>
            <div class="garbage"></div>
            <div class="garbage"></div>
            <div class="garbage"></div>
            <div class="garbage"></div>
            <div class="garbage"></div>
            <div class="garbage"></div>
            <div class="garbage"></div>
        </div>
    </div>
</span>