<app-loader [loading]="isLoading" />

<div *ngIf="isLoggedIn && !isLoading" class="flex justify-center pt-5 text-white">
    <input (click)="toggleShowMyDestinations()" type="checkbox" class="w-6 h-6 mx-1">Show my destinations
</div>

<div *ngIf="displayedDestinations.length > 0" class="flex gap-5 p-8">
    <div class="flex flex-col items-end gap-8 pl-16 text-white w-1/2">
        <ng-container *ngFor="let destination of displayedDestinations; let i = index">
            <div *ngIf="i % 2 === 0"
                class="flex flex-col text-center w-4/5 border-white border-2 rounded p-7 backdrop-blur-md">

                <p class="text-3xl pb-5 break-all">{{ destination.name }}</p>

                <h1>Made by:
                    <span [routerLink]="['/profile', destination.user | getUsername | async]"
                        class="text-xl text-green-400 cursor-pointer">
                        {{ destination.user | getUsername | async}}
                    </span>
                </h1>

                <div *ngIf="destination.photo; else noPhoto">
                    <img class="w-5/6 max-h-[65svh] mx-auto" src="{{ destination.photo }}" alt="">
                </div>
                <ng-template #noPhoto>
                    <img class="w-2/5 max-h-svh mx-auto" src="./assets/no-image-available.jpg" alt="">
                </ng-template>

                <div class="flex justify-center gap-1 pt-2 text-3xl text-yellow-500">
                    <div *ngFor="let rating of filledStarsMap[destination.id]">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div *ngFor="let rating of remainingStarsMap[destination.id]">
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>

                <button [routerLink]="['/destination', destination.id]"
                    class="mt-5 text-2xl bg-green-600 w-36 p-2 mx-auto cursor-pointer rounded-xl">
                    <i class="fa-solid fa-circle-info"></i> Details
                </button>
            </div>
        </ng-container>
    </div>

    <div class="flex flex-col items-start gap-8 pr-16 text-white w-1/2">
        <ng-container *ngFor="let destination of displayedDestinations; let i = index">
            <div *ngIf="i % 2 !== 0"
                class="flex flex-col text-center w-4/5 border-white border-2 rounded p-7 backdrop-blur-md">

                <p class="text-3xl pb-5 break-all">{{ destination.name }}</p>

                <h1>Made by:
                    <span [routerLink]="['/profile', destination.user | getUsername | async]"
                        class="text-xl text-green-400 cursor-pointer">
                        {{ destination.user | getUsername | async}}
                    </span>
                </h1>

                <div *ngIf="destination.photo; else noPhoto">
                    <img class="w-5/6 max-h-[65svh] mx-auto" src="{{ destination.photo }}" alt="">
                </div>
                <ng-template #noPhoto>
                    <img class="w-2/5 max-h-svh mx-auto" src="./assets/no-image-available.jpg" alt="">
                </ng-template>

                <div class="flex justify-center gap-1 pt-2 text-3xl text-yellow-500">
                    <div *ngFor="let rating of filledStarsMap[destination.id]">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div *ngFor="let rating of remainingStarsMap[destination.id]">
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>

                <button [routerLink]="['/destination', destination.id]"
                    class="mt-5 text-2xl bg-green-600 w-36 p-2 mx-auto cursor-pointer rounded-xl">
                    <i class="fa-solid fa-circle-info"></i> Details
                </button>
            </div>
        </ng-container>
    </div>
</div>

<div *ngIf="displayedDestinations.length === 0" class="text-slate-200 flex flex-col justify-center items-center gap-2 p-5">
    <h1 class="text-3xl">No destinations found!</h1>
    <a [routerLink]="['/create']" class="text-2xl bg-green-600 py-2 px-3 mx-auto cursor-pointer rounded-md">
        Create
    </a>
</div>

<mat-paginator *ngIf="!isLoading" [length]="destionationsCount" (page)="onPageChange($event)" [hidePageSize]="true"
    [pageSize]="pageSize" [showFirstLastButtons]="true" class="w-3/4 mx-auto mb-7">
</mat-paginator>