.loader {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    color: #65d31b;
    border: 2px solid;
    position: relative;
    margin: 0 auto;
}

.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 3s infinite;
}

@keyframes l6 {
    100% {
        inset: 0
    }
}