<div class="w-1/2 mx-auto p-6 mt-8 border-4 border-white rounded-lg">

    <div class="flex justify-center">

        <form [formGroup]="registerForm" class="flex flex-col text-center w-5/6" (ngSubmit)="onSubmit()">
            <h1 class="text-center p-5 text-3xl text-cyan-200">
                Register
            </h1>

            <mat-form-field class="pb-3">
                <div class="relative">
                    <i class="fa-solid fa-user text-cyan-900 absolute top-[-8px] right-0 text-2xl"></i>
                </div>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" [maxlength]="30">
                <mat-hint align="start" class="text-white">
                    Username must be at least 3 characters
                </mat-hint>
                <mat-hint align="end" class="text-white">
                    {{ registerForm.get('username')?.value?.length || 0 }}/30
                </mat-hint>
                <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
                    Username is required
                </mat-error>
                <mat-error *ngIf="registerForm.get('username')?.hasError('noSpace')">
                    Username must be one word only
                </mat-error>
                <mat-error *ngIf="registerForm.get('username')?.hasError('noStartWithDigit')">
                    Username cannot start with a digit
                </mat-error>
                <mat-error *ngIf="registerForm.get('username')?.hasError('alphanumeric')">
                    Username must be alphanumeric
                </mat-error>
            </mat-form-field>

            <mat-form-field class="pb-3">
                <div class="relative">
                    <i class="fa-solid fa-lock text-cyan-900 absolute top-[-10px] right-0 text-2xl"></i>
                </div>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" [maxlength]="50">
                <mat-hint align="end" class="text-white">
                    {{ registerForm.get('password')?.value?.length || 0 }}/50
                </mat-hint>
                <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
                    Password must be at least 6 characters long
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <div class="relative">
                    <i class="fa-solid fa-lock text-cyan-900 absolute top-[-10px] right-0 text-2xl"></i>
                </div>
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" [maxlength]="50">
                <mat-hint align="end" class="text-white">
                    {{ registerForm.get('confirmPassword')?.value?.length || 0 }}/50
                </mat-hint>
                <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
                    Confirm Password is required
                </mat-error>
            </mat-form-field>

            <div
                *ngIf="registerForm.get('password')?.value !== registerForm.get('confirmPassword')?.value && registerForm.get('confirmPassword')?.touched">
                <small class="text-red-600">Passwords do not match</small>
            </div>

            <button type="submit" class="bg-amber-400 w-1/4 p-2 mx-auto my-2 rounded-lg">
                Submit
            </button>

            <div *ngIf="error" class="text-red-600">{{ error }}</div>
        </form>

    </div>

</div>